<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eShop</title>
    <link rel="stylesheet" href="css/app.css">
</head>

<body>

    <div id="app">
        <header>
            Поиск:
            <input id="search" v-model="searchLine" @input="filterGoods">
            <button class="cart-button" type="button" @click="openCartHandler">
                Корзина {{cart.length}}
            </button>
        </header>
        <main>

            <div class="goods-list">
                <div v-if="filteredGoods.length == 0">Нет данных</div>
                <div class="goods-item"
                     v-for="(good, index) in filteredGoods"
                >
                    <div class="goods-item-flex">
                        <div class="goods-item-banner"></div>
                        <h3>{{good.product_name}}</h3>
                        <p>{{good.price}}</p>
                    </div>
                    <div>
                        <button type="button" class="goods-item-button" @click="addToCart(index)">Добавить</button>
                    </div>
                </div>
            </div>
            <div v-if="isVisibleChart">
                <div>Корзина</div>
                <table class="excel-table">
                    <thead>
                    <th class="excel-table-th excel-table-header-good">Товар</th>
                    <th class="excel-table-th excel-table-header-price">Цена</th>
                    <th class="excel-table-th excel-table-remove"></th>
                    </thead>
                    <tbody class="excel-table-body">
                    <tr class="good-item"
                        v-for="(good, index) in cart"
                    >
                        <td class="excel-table-td">{{good.product_name}}</td>
                        <td class="excel-table-td excel-table-price">{{good.price}}</td>
                        <td class="excel-table-td excel-table-remove">
                            <button class="remove-button"
                                    type="button"
                                    @click="removeFromCart(index)">Удалить
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/app.js"></script>
</body>

</html>